# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Administrator\Desktop\Learning-Dynamic-Compact-Memory-Embeddingfor-Deformable-Visual-Object-Tracking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
